.axis {
  font:10px sans-serif;
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: darkgrey;
}

.y.axis line{
	stroke:darkgrey;
}

.y.axis path {
  fill: none;
  stroke: #000;
}
.axis path {
  fill: none;
  stroke: #000;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}